/* Reglas Generales */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.hiddenContent {
    display: none;
}

body {
    background-color: #212130;
    color: #FFFFFF;
}

/* Encabezado */

.header-title {
    color: #ffd000;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}
.header-navbar {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 1rem;
    z-index: 10;
    font-weight: 700;
}
.navbar-link {
    color: #007f5f;
    border-radius: 2px;
    background-color: #ffd000;
    text-decoration: none;
    padding: 0.25rem 1rem;
}

.navbar-link:hover {
    color: #ffd000;
    background-color: #007f5f;
}

/* Banner */
.banner {
    height: 60vh;
}

.banner-image {
    height: 100%;
}

.image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter:brightness(0.4);
}

.banner-text {
    width: 100%;
    position: relative;
    top: -38vh;
    color: #ffd000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000086;
    padding: 1rem;
    font-style: italic;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-detail {
    font-size: 1.5rem;
}






/* Index */

.events-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffd000;
    color: #212130;
}

.logo-container {
    display: inline-block;
    padding: 50px;
}

.logo {
    width: 200px;
}
.events-container {
    display: inline-block;
    padding: 50px;
}

.event-description {
    margin: .5rem 0 2rem 1rem;
}

/* About */

.about-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffd000;
    color: #212130;
}

.about-logo {
    display: inline-block;
    padding: 50px;
    position: relative;
    top: -100px;
}

.about-info {
    display: inline-block;
    padding: 50px;
    width: 65%;
}

.about-info p {
    margin-bottom: 2rem;
}

/* Contact */
.contact-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffd000;
    color: #212130;
}

.contact-info {
    display: inline-block;
    position: relative;
    top: -100px;
    padding: 50px;
}

.contact-info p {
    margin-bottom: 1rem;
}

/*rules*/

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.rulesHeader {
    position: absolute;
    top: 50vh;
    color: #ffd000;
    text-align: center;
}

.rulesHeader-title {
    font-size: 4rem;
    font-weight: 700;
}

.rulesHeader-detail {
    font-size: 1.5rem;
}

.rulesInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
}

.rulesInformation-item {
    padding: 50px;
    background-color: #3A3A55;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-title {
    color: #ffd000;
}

.item-list>li {
    margin-bottom: .8rem;
}

.secondaryList {
    margin-top: .8rem;
}

ul, ol {
    padding-left: 1rem;
}

ol span {
    font-weight: 700;
}

/* game information */

.schedule {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-between;
}

.scheduleContainer {
    margin-bottom: 50px;
}

table {
    background-color: #3A3A55;
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #212130;
    text-align: center;
}

th {
    background-color: #ffd000;
    color: #212130;
    padding-bottom: 5px;
    padding-top: 5px;
}

.scheduleInfo {
    width: 45%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 30px;
    background-color: #3A3A55;
    border-radius: 10px;
}

.scheduleInfo span {
    font-weight: 700;
    color: #ffd000;
}