/* Reglas Generales */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.hiddenContent {
    display: none;
}

body {
    background-color: #212130;
    color: #FFFFFF;
}

/* Encabezado */
h1 {
    color: #ffd000;
}

.header-title {
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}
.header-navbar {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 1.2rem;
    z-index: 10;
}
.navbar-link {
    color: #007f5f;
    border-radius: 2px;
    background-color: #ffd000;
    text-decoration: none;
    padding: 0.25rem 1rem;
}

.navbar-link:hover {
    color: #ffd000;
    background-color: #007f5f;
}

.header-img {
    width: 100%;
    opacity: .5;
}

/* Index */

.events-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffd000;
    color: #212130;
}

.logo-container {
    display: inline-block;
    padding: 50px;
}

.logo {
    width: 200px;
}
.events-container {
    display: inline-block;
    padding: 50px;
}

.event-description {
    margin: .5rem 0 2rem 1rem;
}

/* About */

.about-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffd000;
    color: #212130;
}

.about-info {
    display: inline-block;
    padding: 50px;
    width: 65%;
}

.about-info p {
    margin-bottom: 2rem;
}

/* Contact */
.contact-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffd000;
    color: #212130;
}

.contact-info {
    display: inline-block;
    position: relative;
    top: -100px;
    padding: 50px;
}

.contact-info p {
    margin-bottom: 1rem;
}